* {
    margin: 0;
    padding: 0;
    font-family: 'MuseoModerno', sans-serif;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.background {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.scroll-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.header-container {
    position: relative;
    display: flex;
    z-index: 3;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.header-container h1 {
    z-index: 3;
    font-size: 192px;
    font-weight: 400;
    font-style: italic;
    background: linear-gradient(to bottom, #b6fbff, #83a4d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.subtitle-container {
    position: relative;
    display: flex;
    z-index: 3;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.subtitle-container p {
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
}

.fade-in, .fade-in-header {
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.page {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.page.visible {
    display: flex;
}

.fade-in.visible, .fade-in-header.visible {
    display: block;
    opacity: 1;
    transform:translateY(0);
}

.fade-in-header.second {
    font-size: 125px;
    padding-bottom: 150px;
}

.header-container.fifth {
    height: 200px;
}



#button-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 75%;
}

#button-container.visible {
    display: flex;
}

#button-container.inactive {
    display: none;
}

canvas {
    position: absolute;
    opacity: 0.25;
  }

/* ============================================================================================== 
BUTTONS
================================================================================================= */
.button {
    display: inline-block;
    position: relative;
    padding: 9px 50px;
    border: 2px;
    border-radius: 500px;
    background-color: transparent;
    color: white;
    font-size: 28px;
    cursor: pointer;
    border-color: white;
    border-style: solid;
    min-width: 150px;
    min-height: 45px;
    z-index: 50;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: -1;
}

.yes-button {
    transform: scale(1);
}

.yes-button::before {
  background: linear-gradient(to bottom, rgba(25, 22, 84, 0.75), rgba(67, 198, 172, 0.5));
  animation:yes-pulse 3s infinite;
}

@keyframes yes-pulse {
  0% {
    box-shadow: 0 0 20px rgba(67, 198, 172, 0.5);
  }
  50% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.75);
  }
  100% {
    box-shadow: 0 0 20px rgba(67, 198, 172, 0.5);
  }
}

.no-button::before {
    background: linear-gradient(to top, rgba(237, 33, 58, 0.75), rgba(147, 41, 30, 0.5));
    animation: no-pulse 3s infinite;
}
  
@keyframes no-pulse {
    0% {
      box-shadow: 0 0 25px rgba(237, 33, 58, 0.5);
    }
    50% {
      box-shadow: 0 0 40px rgba(255, 0, 0, 0.75);
    }
    100% {
      box-shadow: 0 0 25px rgba(237, 33, 58, 0.5);
    }
}

.button:hover::before {
  opacity: 1;
}

.button.inactive {
    opacity: 0;
}

.no-button.floating {
    position: fixed;
    text-align: center;
    display: block;
    top: 587px;
    left: 60%;
}

/* ============================================================================================== 
TEXT PULSE
================================================================================================= */
@keyframes pulse {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
    }
    50% {
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    }
    100% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
    }
}
#pulsating-text {
    animation: pulse 5s linear infinite;
    color: #fff; /* Text color */
}

/* ============================================================================================== 
BACKGROUND
================================================================================================= */

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(25, 22, 84, 0.5), rgba(67, 198, 172, 0.1))
}

.shooting-star {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: white;
    animation: shooting 3s linear infinite;
  }

@keyframes shooting {
    0% { transform: translate(0, 0); opacity: 0; }
    20% { opacity: 1; }
    100% { transform: translate(50vw, 100vh); opacity: 0; }
}

/* ============================================================================================== 
TWINKLING STARS
================================================================================================= */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display: inline-block;
  overflow: hidden;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}



@media (max-width: 1601px) and (min-width: 1114px) {
    .fade-in-header.second {
        font-size: 8vw;
        flex: 1;
        line-height: 1.25em;
    }
}

@media (max-width: 1114px) and (min-width: 876px) {
    .fade-in-header.second {
        font-size: 10vw;
        flex: 1;
        line-height: 1.25em;
    }
}


@media (max-width: 876px) and (min-width: 460px){
    .fade-in-header.second {
        font-size: 11vw;
        flex: 1;
        line-height: 1.25em;
    }
    .header-container h1 {
        font-size: 23vw;
    }
    .fade-in-header.fifth-round {
        line-height: 1em;
    }
}

@media (max-width: 460px) {
    .header-container {
        height: 150px;
    }
    .fade-in-header.second {
        font-size: 11vw;
        flex: 1;
        line-height: 1.25em;
    }
    .header-container h1 {
        font-size: 23vw;
    }
    .subtitle-container p {
        font-size: 20px;
        margin: 0 15px 0 15px;
    }
    #button-container {
        flex-direction: column;
    }
    .subtitle-container {
        height: 25%;
    }
    .header-container.fifth {
        margin: 0 15px 0 15px;
        height: 150px;
    }
}